$headerBar-backgroundColor: stencilColor("headerBar-backgroundColor");
$headerBar-button-backgroundColor: stencilColor("headerBar-button-backgroundColor");
$headerBar-button-backgroundColorHover: stencilColor("headerBar-button-backgroundColorHover");
$headerBar-button-fontColor: stencilColor("headerBar-button-fontColor");
$headerBar-button-fontColorHover: stencilColor("headerBar-button-fontColorHover");

$page-customHeading-fontColor: stencilColor("page-customHeading-fontColor");
$page-faqHeading-fontColor: stencilColor("page-faqHeading-fontColor");
$page-faqList-fontColor: stencilColor("page-faqList-fontColor");
$page-bacSignature-fontColor: stencilColor("page-bacSignature-fontColor");

$product-optionValue-fontColor: stencilColor("product-optionValue-fontColor");

$cart-customDisclaimer-fontColor: stencilColor("cart-customDisclaimer-fontColor");
